body {
  background: #f1f0f6;
}

.adminPage {
  display: flex;
  min-height: 100vh;
}
#adminSidebar {
  position: relative;
  z-index: 50;
  min-height: 100vh;
  min-width: 260px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  background: #fff;
  top: 0;
  left: 0;
  height: 100%;
  transition: 0.3s;
  transform: translateX(0);
}
#adminSidebar.show {
  transform: translateX(-100%);
  position: fixed;
}

.rightAdmin {
  transition: 0.9s;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.contentWrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 40px;
}

#adminSidebar .sidebarTitle {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #01535e;
}
#adminSidebar .toggle-sidebar {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  display: none;
}

#adminSidebar .sidebarTitle p {
  width: 60%;
  text-align: center;
}

#adminSidebar .icon {
  min-width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#adminSidebar .sidebarMenu {
  margin: 30px 0;
  padding: 0 20px;
}

#adminSidebar .sidebarMenu a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #2b2730;
  padding: 8px 10px 12px 0;
  transition: all 0.3s ease;
  border-radius: 10px;
  margin: 4x 0;
}

#adminSidebar .sidebarMenu a:hover {
  background: #01535e;
  color: #fff;
}
#adminSidebar .sidebarMenu a.active {
  background: #01535e;
  color: #fff;
}

.header {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}

nav {
  background: #fff;
  height: 64px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  grid-gap: 28px;
}

nav .toggle-sidebar {
  font-size: 18px;
  cursor: pointer;
}

nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

nav .form-group {
  position: relative;
}

nav .form-group input {
  width: 100%;
  background: #f1f0f6;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px 36px 10px 16px;
  border-radius: 36px;
  outline: none;
}

nav .form-group .icon {
  position: absolute;
  top: 50%;
  color: #8d8d8d;
  transform: translateY(-50%);
  right: 16px;
}

nav .userProfile {
  position: relative;
}

nav .userProfile img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

nav .userProfile .profile-link {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background: #fff;
  padding: 10px 0;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 160px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

nav .userProfile .profile-link.show {
  opacity: 1;
  pointer-events: visible;
  top: 100%;
}

nav .userProfile .profile-link a {
  padding: 10px 16px;
  display: flex;
  grid-gap: 6px;
  font-size: 14px;
  color: #000;
  align-items: center;
  transition: all 0.3s ease;
}

nav .userProfile .profile-link a:hover {
  background: #01535e;
  border-radius: 8px;
}

.content {
  flex-grow: 1;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
}

.content .head-title {
  gap: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.content .title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title h1 {
  margin-top: 20px;
  font-weight: 600;
  color: #01535e;
}

table {
  /* width: 100%; */
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  word-wrap: break-word;
  text-align: center;
  vertical-align: middle;
}

tr {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.typerow {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.content .head-title table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    left: 0;
  }

  #adminSidebar .toggle-sidebar {
    display: block;
  }

  .contentWrap {
    padding: 20px;
  }
  .content {
    padding: 10px;
    grid-template-columns: 1fr;
  }
  .content table {
    font-size: 12px;
  }

  .content th,
  .content td {
    font-size: 10px;
    width: auto;
    display: block;
    text-align: left;
  }

  .content th {
    font-weight: bold;
  }

  .content td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  #adminSidebar {
    position: fixed;
    z-index: 20;
  }
}
