/* Dashboard CSS */
.searchInput {
  display: flex;
  gap: 5px;
  padding: 0px 20px;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50px;
  height: 40px;
}
@media (min-width: 1057px) {
  .divided {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    transition: all 0.5s ease-in-out;
  }
}

@media (min-width: 728px) {
  .formDivided {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    transition: all 0.5s ease-in-out;
  }
}

.fa-magnifying-glass {
  border-left: 2px solid #000;
  padding-left: 10px;
}
.searchBar {
  border-width: 0px;
  padding: 10px;
  width: 100%;
}

.searchBar:focus {
  outline: none;
}

#dashboardHead {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  position: relative;
}

.dropdown {
  background-color: white;
  position: absolute;
  right: 10px;
  top: 70px;
  border-radius: 20px;
  padding: 5px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 9999;
  animation: slideBottom 0.3s;
}

@keyframes slideBottom {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}

.dropdown button {
  border: none;
  background-color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #268e95;
  cursor: pointer;
}
.mainContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  transition: all 0.4s;
}

.userProfile {
  align-items: center;
  gap: 10px;
  display: flex;
  justify-content: flex-end;
  grid-column-start: 3;
  cursor: pointer;
}

.userName {
  font-size: 20px;
}

.loadingLogout {
  background: #00000076;
  position: absolute;
  width: 100%;
  z-index: 9999;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingcard {
  background: #fff;
  padding: 20px 40px;
  border-radius: 20px;
}

.userProfilePic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
#create {
  background-color: #f5f5f5;
}

#create #mapContainer {
  height: 100vh;
}

.rightSide {
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f5f5f5;
}

/* Map CSS */
#mapContainer {
  flex-grow: 1;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

#mapContainer.loading {
  opacity: 0.5;
}

#mapContainer.loading::after {
  content: "Loading map...";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
}

#mapContainer.loaded {
  opacity: 1;
}

.leaflet-control {
  display: none;
}

.rightSide * {
  transition: all 0.3s;
}

/* Details */
.sensorDetails {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  overflow: hidden;
}
.sensorData {
  height: 100%;
}

.sensorTitle {
  font-size: 36px;
  color: #306a96;
  font-weight: 700;
  margin-bottom: 20px;
}

.historyMain {
  font-size: 20px;
  color: #2a5677;
  margin-bottom: 10px;
}

.historyItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  height: 100%;
}

.historyItem {
  background: #cee3f2;
  border-radius: 18px;
  padding: 10px 20px;
}

.historyTitle {
  font-size: 18px;
  font-weight: 600;
}

.historyDate {
  font-size: 14px;
}

.historyList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #2b2b2b;
}

/* Sidebar */
#sidebar {
  position: relative;
  transition: all 0.5s;
  color: #ffffff;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 10px;
  background: #01535e;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  z-index: 999;
}

.leftSide:has(.hideSidebar) {
  display: flex;
  justify-content: center;
}

.openSidebar {
  display: flex;
  position: absolute;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}

.mainContainer:has(.hideSidebar) .openSidebar {
  display: block;
}

.closeSidebar {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.sidebarTitle {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.mainSideTitle {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0px 20px;
  flex-grow: 1;
}

.farm {
  background: #fff;
  color: #000;
  border-radius: 20px;
  padding: 20px;
  flex-grow: 1;
}

.farmName {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.addFarmItem a {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.addFarmItem a p {
  font-size: 18px;
}

.itemTitle {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sideItems .items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0px 28px;
}

.sideItems a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
}

.items p:hover {
  text-decoration: underline;
}

.items p {
  cursor: pointer;
}

@media (max-width: 1280px) {
  .sideItems .items {
    padding: 0px 20px;
  }
  .mainSideTitle {
    font-size: 18px;
  }

  .sidebarMenu {
    padding: 0px;
  }

  .addFarmItem a {
    padding: 10px;
  }

  .addFarmItem a p {
    font-size: 14px;
  }

  .farmName {
    font-size: 14px;
  }

  .itemTitle {
    font-size: 14px;
  }

  .sideItems .items {
    padding: 0px 25px;
    font-size: 12px;
  }
}

@media (max-width: 1056px) {
  .leftSide:has(.hideSidebar) {
    display: flex;
    justify-content: center;
  }

  .hideSidebar {
    transform: translateX(-200%);
  }

  #mapContainer {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  #create #mapContainer {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }

  .sensorDetails {
    grid-row-start: 2;
    height: 100%;
  }
  .sensorTitle {
    font-size: 24px;
  }

  .mainContainer {
    grid-template-columns: 1fr 10fr;
  }

  #sidebar {
    z-index: 999;
    width: 30%;
    position: absolute;
  }
  .historyMain {
    font-size: 16px;
  }

  .historyItem {
    padding: 10px;
  }

  .historyTitle {
    font-size: 16px;
  }

  .historyList {
    font-size: 14px;
  }
  .closeSidebar {
    display: block;
  }
  .openSidebar {
    display: block;
  }

  .mainSideTitle {
    font-size: 16px;
  }

  .sidebarMenu {
    padding: 0px;
  }

  .addFarmItem a {
    padding: 10px;
  }

  .addFarmItem a p {
    font-size: 12px;
  }

  .farmName {
    font-size: 12px;
  }

  .itemTitle {
    font-size: 12px;
  }

  .sideItems .items {
    padding: 0px 25px;
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  #sidebar {
    width: 50%;
    z-index: 999;
    position: absolute;
  }
}

/* Small Screen */
@media (max-width: 426px) {
  .userName {
    display: none;
  }
  .mainContainer {
    grid-template-columns: 1fr 7fr;
  }

  .rightSide {
    height: auto;
  }

  .sensorTitle {
    font-size: 24px;
  }

  .historyMain {
    font-size: 16px;
  }

  .historyItem {
    padding: 10px;
  }

  .historyTitle {
    font-size: 16px;
  }

  .historyList {
    font-size: 14px;
  }

  #sidebar {
    width: 60%;
    position: absolute;
    z-index: 999;
  }
}

@media (max-width: 321px) {
  #sidebar {
    width: 70%;
  }
}

.farmFormTitle {
  text-align: center;
}

#farmInputForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 40px;
  width: 100%;
}

.farmForm {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroups {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.inputGroup label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.inputGroup input {
  padding: 10px;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  border: 0.5px solid #000;
}

.inputGroup select {
  padding: 10px;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  border: 0.5px solid #000;
}

.farmSubmitButton button {
  padding: 10px 30px;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  background: #1766a6;
  color: #fff;
  cursor: pointer;
  border: none;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
}

.createFormContainer {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.noFarms,
.loadingMap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 10px;
  font-size: 20px;
}

.noFarms button {
  padding: 10px 30px;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  background: #1766a6;
  color: #fff;
  cursor: pointer;
  border: none;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 727px) {
  #create #mapContainer {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-rows: 2fr 1fr;
  }
}

.backIcon {
  position: absolute;
  top: 50px;
  left: 30px;
  z-index: 999;
  font-size: 30px;
  color: #000;
}

.formMap .leaflet-popup-close-button {
  display: none;
}
