.landingHeader {
  width: 100%;
  height: 100vh;
  background-image: url("../images/plantbg.jpg");
  background-size: cover;
}

.headerButton {
  display: flex;
  gap: 20px;
}

.landingSection {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  width: 45%;
  height: 100%;
  background: linear-gradient(
    53.39deg,
    #01535e 13.17%,
    #0b6e7b 49.63%,
    rgba(81, 170, 165, 0.83) 96.9%
  );
  border-radius: 0px 37px 37px 0px;
}

.appTitle {
  color: white;
  font-size: 24px;
}

.mainHeader {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bigText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  color: #ffffff;
  background: conic-gradient(
    from 199.05deg at 58.91% 65.77%,
    #00ffd1 -33.98deg,
    #ffffff 13.64deg,
    #00ffd1 326.02deg,
    #ffffff 373.64deg
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.735);
  background-clip: text;

  text-shadow: -5px 8px 4px rgba(0, 0, 0, 0.25);
}

.mediumText {
  font-weight: 500;
  font-size: 32px;
  color: #fff;
}
.mediumText span {
  color: #00ffd1;
}
.smallText {
  font-size: 16px;
  color: #fff;
  margin-bottom: 40px;
}
.redirectButton {
  transition: all 0.3s;
  outline: none;
  background: #fff;
  border: none;
  box-shadow: -5px 4px 4px rgba(26, 26, 26, 0.43);
  border-radius: 21px;
  font-size: 24px;
  padding: 10px 40px;
  font-weight: 600;
  color: #01535e;
  cursor: pointer;
}

.redirectButton:hover {
  background: #d5fffc;

  transform: scale(1.05);
}

/* Smaller Screen */
@media (max-width: 1024px) {
  .bigText {
    font-size: 48px;
  }
  .mediumText {
    font-size: 24px;
  }
  .smallText {
    font-size: 14px;
  }
  .redirectButton {
    font-size: 18px;
  }
}

.card-heading {
  text-align: center;
  padding: 4rem 0 2rem 0;
  color: #268e95;
}

.card-content {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding-bottom: 5rem;
}

.card {
  background: #f9f5f6;
  border: 1px solid #01535e;
  border-radius: 16px;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  padding: 5rem 1rem;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.tag {
  display: inline-block;
  background-color: #f1eeff;
  color: #268e95;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.5em 0.75em;
  line-height: 1;
  border-radius: 6px;
  & + * {
    margin-top: 1rem;
  }
}

.card-title {
  font-size: 1.5rem;
  color: #141b22;
  line-height: 1.25;
  & + * {
    margin-top: 1rem;
  }
}

.info {
  color: #a0a0a0;
  & + * {
    margin-top: 1.25rem;
  }
}

@media screen and (max-width: 740px) {
  .card-container {
    max-width: 90%;
    margin: auto;
  }
}

.section-padding {
  padding: 4rem 4rem;
}

.footer {
  background-color: #01535e;
}

.sb__footer {
  display: flex;
  flex-direction: column;
}

.sb__footer-link {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
}

.sb__footer-link-div {
  width: 150px;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: #fff;
}

a {
  color: rgb(175, 175, 179);
  text-decoration: none;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 35px;
}

.socialmedia p {
  margin-right: 10px;
}

.sb__footer-link-div h4 {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0.9rem;
}

.sb__footer-link-div p {
  font-size: 12px;
  line-height: 15px;
  margin: 0.5rem 0;
  cursor: pointer;
}

.sb__footer-below {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.sb__footer-terms {
  display: flex;
  flex-direction: row;
}

.sb__footer-terms p {
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  font-weight: 600;
  margin-top: 3rem;
}

hr {
  color: white !important;
  width: 100%;
}

.sb__footer-copyright p {
  font-size: 13px;
  line-height: 15px;
  color: rgb(225, 225, 225);
  font-weight: 600;
  margin-top: 3rem;
}

@media screen and (max-width: 850px) {
  .sb__footer-heading h1 {
    font-size: 44px;
    line-height: 50px;
  }
}

@media screen and (max-width: 550px) {
  .sb__footer-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }

  .landingSection {
    padding: 2rem 1rem;
    width: 70%;
  }

  .sb__footer-link-div {
    margin: 1rem 0;
  }

  .sb__footer-btn p {
    font-size: 14px;
    line-height: 20px;
  }

  .sb__footer-below {
    flex-direction: column;
    justify-content: left;
  }

  .sb__footer-terms {
    flex-direction: column;
    justify-content: left;
  }

  .sb__footer-terms p {
    margin-left: 0rem;
    margin-top: 1rem;
  }
  .bigText {
    font-size: 30px;
  }
  .mediumText {
    font-size: 20px;
  }
  .smallText {
    font-size: 15px;
  }
}
@media screen and (max-width: 400px) {
  .sb__footer-heading h1 {
    font-size: 27px;
    line-height: 38px;
  }
}

.card-container {
  padding: 20px;
}

.card-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 768px) {
  .card-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 426px) {
  .landingSection {
    display: flex;
    border-radius: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .card-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
