.landingHeader {
  width: 100%;
  height: 100vh;
  background-image: url("../images/plantbg.jpg");
  background-size: cover;
}

.landingSection {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  width: 45%;
  height: 100%;
  background: linear-gradient(
    53.39deg,
    #01535e 13.17%,
    #0b6e7b 49.63%,
    rgba(81, 170, 165, 0.83) 96.9%
  );
  box-shadow: 11px 11px 12px rgba(18, 85, 134, 0.41);
  border-radius: 0px 37px 37px 0px;
}

.appTitle {
  color: white;
  font-size: 24px;
}

.mainHeader {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bigText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 53px;
  color: #ffffff;
  background: conic-gradient(
    from 199.05deg at 58.91% 65.77%,
    #00ffd1 -33.98deg,
    #ffffff 13.64deg,
    #00ffd1 326.02deg,
    #ffffff 373.64deg
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.735);
  background-clip: text;

  text-shadow: -5px 8px 4px rgba(0, 0, 0, 0.25);
}

.mediumText {
  font-weight: 500;
  font-size: 32px;
  color: #fff;
}
.mediumText span {
  color: #00ffd1;
}
.smallText {
  font-size: 16px;
  color: #fff;
  margin-bottom: 40px;
}
.redirectButton {
  transition: all 0.3s;
  outline: none;
  background: #fff;
  border: none;
  box-shadow: -5px 4px 4px rgba(26, 26, 26, 0.43);
  border-radius: 21px;
  font-size: 24px;
  padding: 10px 40px;
  font-weight: 600;
  color: #01535e;
  cursor: pointer;
}

.redirectButton:hover {
  background: #d5fffc;

  transform: scale(1.05);
}

/* Smaller Screen */
@media screen and (max-width: 1024px) {
  .landingSection {
    width: 100%;
    border-radius: 0;
    display: flex;
    justify-content: center;
  }
  .bigText {
    font-size: 48px;
  }
  .mediumText {
    font-size: 24px;
  }
  .smallText {
    font-size: 14px;
  }
  .redirectButton {
    font-size: 18px;
  }
}
